<head>
	<title>bookers2</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar_menu">
				</button>
				<a class="navbar-brand navbar-left">Bookers2</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar_menu">
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li>
							<%= link_to user_path(current_user.id) do %>
								<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
							<% end %>
						</li>
						<li>
							<%= link_to users_path do %>
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>Users
							<% end %>
						</li>
						<li>
							<%= link_to books_path do %>
								<span class="glyphicon glyphicon-book" aria-hidden="true"></span>Books
								<% end %>
						</li>
						<li>
							<%= link_to destroy_user_session_path, method: :delete do %>
								<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>logout
							<% end %>
						</li>
					<% else %>
						<li>
							<%= link_to root_path do %>
								<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
							<% end %>
						</li>
						<li>
							<%= link_to about_path do %>
								<span class="glyphicon glyphicon-link" aria-hidden="true"></span>About
							<% end %>
						</li>
						<li>
							<%= link_to new_user_registration_path do %>
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>sign up
							<% end %>
						</li>
						<li>
							<%= link_to new_user_session_path do %>
								<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>login
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>
		</nav>
	</header>

</body>