<body>
	<main>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<div class="user_info">
						<h3>User Info</h3>
						<table>
								<tr>
									<td>
									 <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
									</td>
								</tr>
								<tr>
									<th>Name:</th><td><%= current_user.name %></td>
								</tr>
								 <tr>
									<th>Introduction:</th><td><%= current_user.introduction %></td>
								</tr>
						</table>
						<%= link_to "", edit_user_path(current_user.id), :class => "btn btn-default glyphicon glyphicon-wrench col-md-12" %>
					</div><br/>

					<div class="new_book">
						<h3>New Book</h3>
						<%= form_for(@book) do |f| %>
							<% if @book.errors.any? %>
								<%= @book.errors.count %>errors prohibited this obj from being saved:<br/>
								<%= @book.errors.full_messages.each do |message| %>
									<%= message %>
								<% end %><br/>
							<% end %>

							<%= f.label :Title %><br/>
							<%= f.text_field :title %><br/>
							<%= f.label :Opinion, :class => "col-md-12" %><br/>
							<%= f.text_area :body, :class => "col-md-12" %><br/>
							<%=  f.submit "投稿", :class => "btn btn-primary col-md-12" %>
						<% end %>
					</div>
				</div>
				<div class="col-md-9">
					<h3>Books</h3>
					<table class="table table-striped">
						<thead>
							<th>User</th>
							<th>Title</th>
							<th>Opinion</th>
						</thead>
						<tbody>
							<% @books.each do |book| %>
								<tr>
									<th>
										<%= link_to user_path(book.user.id) do %>
										<%= attachment_image_tag book.user, :profile_image, :fill, 40, 40,  fallback: "no_image.jpg", size: "40x40", class: "img-circle pull-left profile-thumb" %>
										<% end %><br/>
										<%= book.user.name %>
									</th>
									<th>
										<%= link_to book_path(book.id) do %>
											<%= book.title %>
										<% end %>
									</th>
									<th><%= book.body %></th>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
</body>