<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "books/list", books: @books %>
    <%= render "layouts/notifications" %>
    <div class = "container">
      <%= yield %>
    </div>
  </body>
  <footer>
    <h5 class="text-right">CopyRight Infratop.inc</h5>
  </footer>
</html>
